html, body, div#app {
    height: 100%;
      font-family: "Roboto", sans-serif;
      
  }
  
  a {
      color: #0D81C2!important;
      text-decoration: none!important;
      background-color: transparent!important;
  }
  
  a:hover {
      color: #0D81C2;
      text-decoration: none;
  }
  
  .bmd-form-group {
      position: relative;
      padding-top: 1.5rem;

  }
  
  .btn.bmd-btn-fab.btn-primary, .bmd-btn-fab.btn-primary.custom-file-control::before, .btn.btn-raised.btn-primary, .btn-raised.btn-primary.custom-file-control::before, .btn-group-raised .btn.btn-primary, .btn-group-raised .btn-primary.custom-file-control::before {
      color: #fff;
      background-color: #0D81C2;
      border-color: #0D81C2;
      height: 34px;
      border-radius: 50%;
  }
  
  .btn.bmd-btn-fab.btn-primary:hover, .bmd-btn-fab.btn-primary.custom-file-control:hover::before, .btn.btn-raised.btn-primary:hover, .btn-raised.btn-primary.custom-file-control:hover::before, .btn-group-raised .btn.btn-primary:hover, .btn-group-raised .btn-primary.custom-file-control:hover::before {
      color: #fff;
      background-color: #0D81C2-focus;
      border-color: #0D81C2-borde-claro;
      height: 34px;
      border-radius: 50%;
  }
  
  .btn.bmd-btn-fab.btn-primary:active:hover, .bmd-btn-fab.btn-primary.custom-file-control:active:hover::before, .btn.bmd-btn-fab.btn-primary:active:focus, .bmd-btn-fab.btn-primary.custom-file-control:active:focus::before, .btn.bmd-btn-fab.btn-primary:active.focus, .bmd-btn-fab.btn-primary.custom-file-control:active.focus::before, .btn.bmd-btn-fab.btn-primary.active:hover, .bmd-btn-fab.btn-primary.active.custom-file-control:hover::before, .btn.bmd-btn-fab.btn-primary.active:focus, .bmd-btn-fab.btn-primary.active.custom-file-control:focus::before, .btn.bmd-btn-fab.btn-primary.active.focus, .bmd-btn-fab.btn-primary.active.focus.custom-file-control::before, .open > .btn.bmd-btn-fab.btn-primary.dropdown-toggle:hover, .open > .bmd-btn-fab.btn-primary.dropdown-toggle.custom-file-control:hover::before, .open > .btn.bmd-btn-fab.btn-primary.dropdown-toggle:focus, .open > .bmd-btn-fab.btn-primary.dropdown-toggle.custom-file-control:focus::before, .open > .btn.bmd-btn-fab.btn-primary.dropdown-toggle.focus, .open > .bmd-btn-fab.btn-primary.dropdown-toggle.focus.custom-file-control::before, .btn.btn-raised.btn-primary:active:hover, .btn-raised.btn-primary.custom-file-control:active:hover::before, .btn.btn-raised.btn-primary:active:focus, .btn-raised.btn-primary.custom-file-control:active:focus::before, .btn.btn-raised.btn-primary:active.focus, .btn-raised.btn-primary.custom-file-control:active.focus::before, .btn.btn-raised.btn-primary.active:hover, .btn-raised.btn-primary.active.custom-file-control:hover::before, .btn.btn-raised.btn-primary.active:focus, .btn-raised.btn-primary.active.custom-file-control:focus::before, .btn.btn-raised.btn-primary.active.focus, .btn-raised.btn-primary.active.focus.custom-file-control::before, .open > .btn.btn-raised.btn-primary.dropdown-toggle:hover, .open > .btn-raised.btn-primary.dropdown-toggle.custom-file-control:hover::before, .open > .btn.btn-raised.btn-primary.dropdown-toggle:focus, .open > .btn-raised.btn-primary.dropdown-toggle.custom-file-control:focus::before, .open > .btn.btn-raised.btn-primary.dropdown-toggle.focus, .open > .btn-raised.btn-primary.dropdown-toggle.focus.custom-file-control::before, .btn-group-raised .btn.btn-primary:active:hover, .btn-group-raised .btn-primary.custom-file-control:active:hover::before, .btn-group-raised .btn.btn-primary:active:focus, .btn-group-raised .btn-primary.custom-file-control:active:focus::before, .btn-group-raised .btn.btn-primary:active.focus, .btn-group-raised .btn-primary.custom-file-control:active.focus::before, .btn-group-raised .btn.btn-primary.active:hover, .btn-group-raised .btn-primary.active.custom-file-control:hover::before, .btn-group-raised .btn.btn-primary.active:focus, .btn-group-raised .btn-primary.active.custom-file-control:focus::before, .btn-group-raised .btn.btn-primary.active.focus, .btn-group-raised .btn-primary.active.focus.custom-file-control::before, .open > .btn-group-raised .btn.btn-primary.dropdown-toggle:hover, .open > .btn-group-raised .btn-primary.dropdown-toggle.custom-file-control:hover::before, .open > .btn-group-raised .btn.btn-primary.dropdown-toggle:focus, .open > .btn-group-raised .btn-primary.dropdown-toggle.custom-file-control:focus::before, .open > .btn-group-raised .btn.btn-primary.dropdown-toggle.focus, .open > .btn-group-raised .btn-primary.dropdown-toggle.focus.custom-file-control::before {
      color: #fff;
      background-color: #0D81C2-focus;
      border-color: #0D81C2-borde-oscuro;
      height: 34px;
      border-radius: 50%;
  }
  
  .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(121, 14, 71, 0.5);
  }
  
  .btn.bmd-btn-fab.btn-primary:active, .bmd-btn-fab.btn-primary.custom-file-control:active::before, .btn.bmd-btn-fab.btn-primary.active, .bmd-btn-fab.btn-primary.active.custom-file-control::before, .open > .btn.bmd-btn-fab.btn-primary.dropdown-toggle, .open > .bmd-btn-fab.btn-primary.dropdown-toggle.custom-file-control::before, .btn.btn-raised.btn-primary:active, .btn-raised.btn-primary.custom-file-control:active::before, .btn.btn-raised.btn-primary.active, .btn-raised.btn-primary.active.custom-file-control::before, .open > .btn.btn-raised.btn-primary.dropdown-toggle, .open > .btn-raised.btn-primary.dropdown-toggle.custom-file-control::before, .btn-group-raised .btn.btn-primary:active, .btn-group-raised .btn-primary.custom-file-control:active::before, .btn-group-raised .btn.btn-primary.active, .btn-group-raised .btn-primary.active.custom-file-control::before, .open > .btn-group-raised .btn.btn-primary.dropdown-toggle, .open > .btn-group-raised .btn-primary.dropdown-toggle.custom-file-control::before {
      color: #fff;
      background-color: #0D81C2-focus;
      border-color: #0D81C2-borde-oscuro;
      height: 34px;
     border-radius: 50%;
  }
  
  .is-focused [class^=bmd-label], .is-focused [class*=" bmd-label"], *.is-focused [class^=bmd-label], *.is-focused [class*=" bmd-label"] {
      color: #0D81C2-focus;
  }
  
  .checkbox label input[type=checkbox]:checked + .checkbox-decorator .check, label.checkbox-inline input[type=checkbox]:checked + .checkbox-decorator .check {
      color: #0D81C2-focus;
      border-color: #0D81C2-focus;
  }
  
  .checkbox label input[type=checkbox]:checked + .checkbox-decorator .check::before, label.checkbox-inline input[type=checkbox]:checked + .checkbox-decorator .check::before {
      color: #0D81C2;
      box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
      -webkit-animation: checkbox-on 0.3s forwards;
      animation: checkbox-on 0.3s forwards;
  }
  
  .btn.bmd-btn-fab.btn-primary:focus, .bmd-btn-fab.btn-primary.custom-file-control:focus::before, .btn.bmd-btn-fab.btn-primary.focus, .bmd-btn-fab.btn-primary.focus.custom-file-control::before, .btn.btn-raised.btn-primary:focus, .btn-raised.btn-primary.custom-file-control:focus::before, .btn.btn-raised.btn-primary.focus, .btn-raised.btn-primary.focus.custom-file-control::before, .btn-group-raised .btn.btn-primary:focus, .btn-group-raised .btn-primary.custom-file-control:focus::before, .btn-group-raised .btn.btn-primary.focus, .btn-group-raised .btn-primary.focus.custom-file-control::before {
      color: #fff;
      background-color: #0D81C2-focus;
      border-color: #0D81C2-borde-oscuro;
  }
  
  .form-control, .custom-file-control, .is-focused .form-control:not(:invalid) {
      background-image: linear-gradient(to top, #0D81C2 2px, rgba(77, 192, 181, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, rgba(0, 0, 0, 0) 1px);
  }
  
  
  
  /** MENU **/
  #main-menu {
      position: fixed;
      width: 300px;
      top: 66px;
      border-radius: 0;
      margin-left: -320px;
      transition: margin 0.5s ease-in-out;
      z-index: 10;
      height: calc(100% - 64px);
      margin-bottom: 0;
      background-color: #0D81C2;
      color: #fff;
  }
  .menu-superior{
      width: 300px;
      display: flex;
  }
  
  
  #menu-icon-wrapper {
      float: left;
      color: #FFF;
      height: 24px;
      margin: 20px 10px;
      z-index: 9999;
  }
  
  .showmenu #main-menu {
      margin-left: 0;
  }
  
  @media only screen and (device-width: 768px) {
      .showmenu #main-menu {
          overflow: scroll;
      }
  }
  
  @media (max-width:767px) {
      .showmenu #main-menu {
          overflow: scroll;
      }
  }
  
  #menu-show {
      width: 24px;
      height: 24px;
      color: #0D81C2;
      display: block;
  }
  
  #menu-show .ripple-container {
      display: none;
  }
  
  #menu-show i{
      position:absolute;
  }
  
  #main-content {
      transition: all 0.5s ease-in-out;
      width:100%;
  }
  
  .showmenu #main-content {
      margin-right: -320px;
  }
  
  #menu-hamb {
      opacity: 1;
      transition: opacity 0.4s ease-in-out;
  }
  
  .showmenu #menu-show i {
      -webkit-animation-name: spinnerRotate;
      -webkit-animation-duration: 0.5s;
      -moz-animation-name: spinnerRotate;
      -moz-animation-duration: 0.5s;
      -ms-animation-name: spinnerRotate;
      -ms-animation-duration: 0.5s;
      animation-name: spinnerRotate;
      animation-duration: 0.5s;
  }
  
  .hidemenu #menu-show i {
      -webkit-animation-name: spinnerRotateInverse;
      -webkit-animation-duration: 0.5s;
      -moz-animation-name: spinnerRotateInverse;
      -moz-animation-duration: 0.5s;
      -ms-animation-name: spinnerRotateInverse;
      -ms-animation-duration: 0.5s;
      animation-name: spinnerRotateInverse;
      animation-duration: 0.5s;
  }
  
  .showmenu #menu-hamb {
      opacity: 0;
  }
  
  
  #menu-arrow {
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
  }
  
  .showmenu #menu-arrow {
      transform: rotate(-180deg);
      opacity: 1;
  }
  
  #main-menu .panel-body {
      padding: 0;
  }
  
  #main-menu-list {
      padding: 0;
      list-style: none;
  
  }
  
  #main-menu-list li {
      overflow: hidden;
  }
  
  #main-menu-list li:hover {
      background-color: #0D81C2-borde-claro;
  }
  
  #main-menu-list li a{
      display: block;
      border-bottom: 1px solid #e5e5e5;
      line-height: 70px;
      padding: 0 15px;
      margin: 0;
      text-align: left;
      color:#fff;
      text-transform: none;
      opacity: 0.8;
  }
  
  #main-menu-list li a img {
      padding-right:20px;
  }
  
  #main-menu-list li a:hover {
      opacity: 1!important;
      background: inherit!important;
  }
  
  #main-menu-list li.selected:hover{
      background-color: #0D81C2-borde-claro;
  }
  
  #main-menu-list li.selected {
      background-color: #0D81C2-borde-claro;
  }
  
  #main-menu-list li.selected a{
      opacity: 1;
  }
  
  #main-menu-list li.selected a:hover{
  
  }
  
  #main-menu-list li li a {
      line-height: 40px!important;
  }
  
  /* navbar */
  .navbar.navbar-primary {
      background-color: #fff;
      color: #000;
      /*
      background-image: url(../../images/logo-nav.png);
      background-repeat: no-repeat;
      background-position: center;
      */
      margin:0;
      //position:fixed;
      top:0;
      left:0;
      width:100%;
      z-index:999;
  }
  .navbar-nav {
      min-width: 350px;
      margin: 10px 0;
      display: inline;
  }
  .navbar-nav>li {
      float:none;
      display:block;
  }
  .navbar .navbar-nav>li>a {
      padding:0!important;
      margin:0!important;
  }
  .navbar .navbar-nav>li>a:hover{
      text-decoration:underline;
  }
  .navbar-nav>li:last-child {
      font-size: 12px;
  }
  .navbar .navbar-nav>li>a>i {
      font-size:16px;
      margin-left:5px;
  }
  
  a .material-icons, a:hover .material-icons, a:focus .material-icons {
      vertical-align: middle;
  }
  
  .navbar .navbar-nav > li > a:hover {
      text-decoration: none;
  }
  
  a>span.oi {
      font-size: 1.2rem;
      top: 4px;
      margin-right: 10px;
  }
  
 
  
  @media (min-width: 768px) {
      .navbar-right .dropdown-menu {
          right: 0;
          left: auto;
      }
      .navbar-right .dropdown-menu-left {
            right: auto;
            left: 0;
            float: left !important;
      }
      .navbar-right {
            float: right !important;
            
      }
      .navbar-right ~ .navbar-right {
        margin-right: 0;
      }
  }
  
  @media (max-width: 767px) {
      .session-close, .session-user {
          display: none;
      }
      .navbar-right {
            float: right !important;
            margin-right: -175px;
      }
  }
  
  /** ROTATIONS **/
  @keyframes spinnerRotate
  {
      from{transform:rotate(0deg);}
      to{transform:rotate(180deg);}
  }
  
  @-webkit-keyframes spinnerRotate
  {
      from{-webkit-transform:rotate(0deg);}
      to{-webkit-transform:rotate(180deg);}
  }
  @-moz-keyframes spinnerRotate
  {
      from{-moz-transform:rotate(0deg);}
      to{-moz-transform:rotate(180deg);}
  }
  @-ms-keyframes spinnerRotate
  {
      from{-ms-transform:rotate(0deg);}
      to{-ms-transform:rotate(180deg);}
  }
  
  @keyframes spinnerRotateInverse
  {
      from{transform:rotate(180deg);}
      to{transform:rotate(-0deg);}
  }
  
  @-webkit-keyframes spinnerRotateInverse
  {
      from{-webkit-transform:rotate(180deg);}
      to{-webkit-transform:rotate(0deg);}
  }
  @-moz-keyframes spinnerRotateInverse
  {
      from{-moz-transform:rotate(180deg);}
      to{-moz-transform:rotate(0deg);}
  }
  @-ms-keyframes spinnerRotateInverse
  {
      from{-ms-transform:rotate(180deg);}
      to{-ms-transform:rotate(0deg);}
  }
  
  body .main-content #inner-content .container {
      top: 120px;
      position: relative;
  }
  
  .main-content #inner-content.container .container .card {
      top: 3rem;
  }
  
  .pull-right {
      float: right;
  }
  
  .pull-left {
      float: left;
  }
  
  .mt-10 {
      margin-top: 10px;
  }
  
  .mt-20 {
      margin-top: 20px;
  }
  
  .mt-30 {
      margin-top: 30px;
  }
  
  .mt-40 {
      margin-top: 40px;
  }
  
  .mt-50 {
      margin-top: 50px;
  }
  
  .mb-10 {
      margin-bottom: 10px;
  }
  
  .mb-20 {
      margin-bottom: 20px;
  }
  
  .mb-30 {
      margin-bottom: 30px;
  }
  
  .mb-40 {
      margin-bottom: 40px;
  }
  
  .mb-50 {
      margin-bottom: 50px;
  }
  
  .mr-10 {
      margin-right: 10px;
  }
  
  .mr-20 {
      margin-right: 20px;
  }
  
  .mr-30 {
      margin-right: 30px;
  }
  
  .mr-40 {
      margin-right: 40px;
  }
  
  .mr-50 {
      margin-right: 50px;
  }
  
  .ml-5 {
      margin-left: 5px;
  }
  
  .ml-10 {
      margin-left: 10px;
  }
  
  .ml-20 {
      margin-left: 20px;
  }
  
  .ml-30 {
      margin-left: 30px;
  }
  
  .ml-40 {
      margin-left: 40px;
  }
  
  .ml-50 {
      margin-left: 50px;
  }
  
  .hidden {
      display: none;
  }
  
  .dblobck {
      display: block;
  }
  
  .form-group.customSelect:before {
      content: "";
      position: absolute;
      right: 8px;
      bottom: 10px;
      width: 8px;
      height: 8px;
      display: inline-block;
      border-color: #888 transparent transparent transparent;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      position: absolute;
  }
  
  .form-group.customSelect {
      position:relative;
  }
  
  .table-responsive.no-scroll {
      overflow: hidden;
  }
  
  .pdl-5 {
      padding-left: 5px;
  }
  
  .pdl-10 {
      padding-left: 10px;
  }
  
  .pdl-15 {
      padding-left: 15px;
  }
  
  .pdl-20 {
      padding-left: 20px;
  }
  
  div.row div.flex-content {
      border-bottom: 1px solid #eee;
      padding-left: 0px;
      margin-left: 15px;
      padding-right: 0px;
      margin-right: 15px;
      flex: 100%;
      padding-bottom: 10px;
  }
  
  .dataTables_wrapper .row .dataTables_filter {
      width: 40%;
  }
  
  #tabla_fechas_propuesta td span.invalid-feedback {
      display: block;
  }
  
  
  
  /*menu ppl*/
  
  h2{
      font-weight: bold;
    }
  
  .cuadro-superior{
      height: 80px;
  }
  
  .buscador{
      float:left;
      margin-top:10px;
      width: 60%;
  }
  
  .boton-nuevo{
      float: right;
  }
  
   /* Style the search field */
   form.example input[type=text] {
      padding: 10px;
      font-size: 17px;
      border: 1px solid #dedede;
      float: left;
      width: 80%;
      background: #dedede;
    }
    
    /* Style the submit button */
    form.example nav {
      float: left;
      width: 20%;
      padding: 10px;
      color: #0000F5;
      font-size: 16px;
      border: 1px solid #fff;
      border-left: none; /* Prevent double borders */
      cursor: pointer;
    }
    
    form.example button:hover {
      background: #0b7dda;
    }
    
    /* Clear floats */
    form.example::after {
      content: "";
      clear: both;
      display: table;
    }
  
  
    .button {
      display: inline-block;
      padding: 8px 5px;
      width: 2.5rem;
      min-width: 2.5rem;
      height: 2.5rem;
      font-size: 16px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #BF1C21;
      border: none;
      border-radius: 20px;
      box-shadow: 0 2px #999;
  }
  
    .button:hover {background-color: #0D81C2}
    
    .button:active {
      background-color: #0D81C2;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
  
  
    /*boton nuevo-tipo de usuario*/
  
    .modal.show .modal-dialog {
      transform: none;
      //float: right;
      width: 450px;
      //margin-top: 0px;
  }
  
  
  
  
  /*
  .form-control {
    display: block;
    width: 100%;
    height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: #ced4da;
    background-clip: padding-box;
    
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .form-control-pais {
    display: block;
    width: 100%;
    height: 60px;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: #ced4da;
    background-clip: padding-box;
    
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .form-control-seleccion-pais {
    display: block;
    width: 100%;
    height: 25px;
   
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: #ced4da;
    background-clip: padding-box;
    
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  */
  
  
  
  
  .modal-footer-form {
   
    float:right;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;
    /* border-top: 1px solid #dee2e6; */
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
  }
  
  .boton-enviar-form {
  
      color: #fff;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      border: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: #0D81C2;
      margin-right: auto;
      padding: 0.375rem 0.75rem;
      font-size: 0.9rem;
      border-radius: 0.8rem;
      box-shadow: 0 2px #999;
     
  }
  
  
    .boton-enviar-form:hover{
      color: #fff;
      background-color: #3079a3;
      text-decoration: none;
    }
    
    .boton-cancelar-form{
      color:#000;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      border: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: #666;
      font-size: 0.9rem;
      border-radius: 0.8rem;
      box-shadow: 0 2px #999;
      margin-left: 20px;
      height: 36px;
      width: 100px;
    }
    .boton-cancelar-form:hover{
      color:#000;
      background-color: #a4a4a4;
    }
  
  
  button {
      border-radius: 0;
      //border-color: #999!important;
  }
  
  
  input[type=radio], input[type=checkbox] {
  box-sizing: border-box;
  /* padding: 10px 10px 10px; */
  margin-left: 10px;
  margin-right: 10px;
  }
  
  
  
  
  .fade {
       transition: none;
  }
  
  .col-md-3 {
      flex: 0 0 25%;
      max-width: 25%;
      display: inline;
      float:right;
      margin-top: 20px;
    }
  
    .col-md-9 {
      flex: 0 0 75%;
      max-width: 75%;
      display: inline;
    }
  
    body .main-content #inner-content .container {
      top: 10px;
      position: relative;
    }
  
  
    .bmd-form-group [class^=bmd-label].bmd-label-floating, .bmd-form-group [class*=" bmd-label"].bmd-label-floating {
      will-change: left, top, contents;
      
     
  }
  
  .col-md-10-menu {
      flex: 0 0 25%;
      max-width: 25%;
      display: inline;
      float: right;
      height: 80px;
  }
  
  .mt-0-buscador, .my-0 {
      margin-top: 0 !important;
      width: 400px;
  }
  
  .col-md-3-boton-nuevo {
      flex: 0 0 25%;
      max-width: 25%;
      display: inline;
      float: right;
      margin-top: -70px;
  
  }
  
  .col-md-12-tabla-ppl{
      margin-top: 30px;
  }
  
  
  //menu superior topbar
  
  .nav-top-bar {
      /* display: flex; */
      flex-wrap: wrap;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
  }
  
  .navbar-nav-top-bar {
      /* display: flex; */
      flex-direction: column;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
  }
  
  .btn-primary-opciones-menu{
      color: #ffffff!important;
     // text-decoration-line: underline;
      background-color: transparent!important;
      color: #ffffff!important;
    //text-decoration-line: underline;
    background-color: transparent!important;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .1s;
    margin-left: 20px;
    height: 34px;
    border-radius: 50%;
  }
  .btn-primary-opciones-menu:hover, .btn-primary-opciones-menu:focus {
    background-size: 100% 2px;
    }
     // border-color: rgb(112, 110, 110)!important;
  
     
  //tablas
  
  .mdb-datatable thead th .mdb-datatable-header-hover-icon[data-v-41e9962a], .mdb-datatable thead th .mdb-datatable-header-icon[data-v-41e9962a] {
      position: absolute!important;
      left: .1rem !important;
      top: 0.6rem !important;
  }
  
  
  
  .table .thead-dark th {
      color: #929B9B;
      background-color: #fff;
      border-color: #a8acb1;
    }
  
    
    
  
  
  [class^=bmd-label], [class*=" bmd-label"] {
      color:#a4a4a4;
  }
  
  .bmd-form-group.is-focused .bmd-label-floating,
  .bmd-form-group .is-focused .bmd-label-floating,
  .bmd-form-group.is-filled .bmd-label-floating,
  .bmd-form-group .is-filled .bmd-label-floating {
    top: 0.2rem;
    left: 0;
    font-size: 0.9rem!important;
  }
  
  
  .h6{
      font-size: 0.75rem!important;
      font-weight: 400!important;
      
  }
  
  .select-options{
      font-size: 0.9rem;
  
  }
  
  .form-control-sm{
      //height: calc(2.1em + 0.5rem + 1px) !important;
      padding: 0.25rem 0;
      font-size: 0.9rem!important;
      line-height: 1.5;
      border-radius: 0.0625rem;
  
  }
  
  
  
  .navbar {
      padding: 0px;
  }
  
  .navbar {
      //position: fixed;
      width: 100%;
      height:60px;
      background-color: #073349;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      //padding: 0.5rem 1rem;
  }
  
  .h3{
      font-weight: bold!important;
  }
  
  
  .datos-usuarios{
  
      margin-top:40px;
      //display:inline;
  }
 
  .card-header-detalle{
  
      display:flex;
      padding: 1rem;
      background-color: transparent;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      padding: 0.75rem 1.25rem;
  }
  
  .volver-atras{
      float:right;
      margin-top: -30px;
  }
  
  
  
  .row{
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      margin-top: 20px;
  }
  
  
  
 
  
  div.row-left-down{
      float:left;
      display: inline-block; 
      width: 60%; 
      height: 200px;
      //border: #000000 1px solid; 
      padding:  1px 16px;
  }
  
  div.row-left-top{
      float:left;
      display: inline-block; 
      width: 60%; 
      height: 400px;
     // border: #000000 1px solid; 
      padding:  30px 16px;
  }
  
  div.row-right{
      float:right;
      background-color: #F9F9F9;
      width: 40%;
      //height: 650px;
      height: auto; 
      //text-align: center; 
     // border: #000000 1px solid; 
      padding:  30px 16px;
  }
  .footer-form{
      
      float:right;
      //width: 100%;
      height: 20%;
      padding:  30px 16px;
      //position: absolute;
      
  }
  
  
  
  .radio label, label.radio-inline {
      position: relative;
      padding-left: 0.1rem;
  }
  
  .radio label, .is-focused .radio label, .radio-inline, .is-focused .radio-inline, .checkbox label, .is-focused .checkbox label, .checkbox-inline, .is-focused .checkbox-inline, .switch label, .is-focused .switch label {
      color: black;
  }
  input[type=radio], input[type=checkbox] {
      box-sizing: border-box;
      /* padding: 10px 10px 10px; */
      margin-left: 0.1px;
      margin-right: 2px;
  }
  
  
  .seleccion-general{
      color:#000;
      font-size: 0.9rem!important;
      position:static!important;
  
  
  }

  //topbar

  .top-logo {
    display: flex;
    position: absolute;
    width: 100%;
    left: 0px;
    justify-content: center;
    align-items: center;
    height: 64px;
}

.top-logo .logo-link {
    background-image: url(/images/euroredLogo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
    width: 210px
}


.nombre-usuario{
    float:right;
    //width: 310px;
    display: flex;
    margin-right: 20px;
    
}
.nombre-proyecto{
    float:right;
    //width: 310px;
    display: flex;
    margin-right: 20px;
    margin-top:10px;
    width:70%;
    
}

.menu-izquierda-topbar{
    display: flex;
}

.menu-superior-izquierda{
    width:33%;
}

.menu-superior-derecha{
    width:40%;
}

.menu-superior-centro{
    width:23%;
}

.Xestion-espazos-compartidos-login{
    color:#fff;
    margin-left: 60%;
    text-align:center;
}
.Xestion-espazos-compartidos{
    color:#fff;
    
    text-align:center;
}

.session-user{
      float: right;
      color: #ffffff!important;
      //text-decoration-line: underline;
      background-color: transparent!important;
      text-decoration: none;
      background-image: linear-gradient(currentColor, currentColor);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0% 2px;
      transition: background-size .1s;
      margin-left: 20px;
}
.session-user:hover, .session-user:focus {
  background-size: 100% 2px;
}
    
.solicitud-presupuesto{
    float: left;
    width: 180px;
    margin-top: 10px;
}

.navbar-right {
    z-index: 9999;

}
/*
  .derecha{
      float:right;
      width: 40%;
  }
  */
  
  
  //Datatables

  .table thead th{
      color: #000 !important;
      font-weight: bold!important;
  }
  

  //tabla usuarios

  #tabla-usuarios{
      //margin-top:50px;
  }


  //SALAS

  //formulario
  
  .nombre-sala{
    width: 40%;
  }

  .descripcion{
      width: 40%
  }
  .metros-cuadrados{
      //width:20%;
      display: inline;
  }
  .aforo{
     // width:20%;
      display:inline;
  }
  .proyector{
      width: 20%;
      display: inline;
  }
  #image{
      //height: 20px!important;
      line-height: initial!important;

  }

  .imagen-sala{
     // margin-left: 20px;
      text-align: center;
      
  }

  #divFileUpload{
    height: 30px!important;
  }

  
  .carousel-control-prev{
      margin-left:25px!important;
  }
  
  .carousel-control-next{
    margin-right:25px!important;
  }


  //modal eliminar

  .btn-prmary{
    background-color: #0D81C2;
  }


  //modal event

  .boton-agregar-evento {
  
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #0D81C2;
   // margin-right: auto;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    border-radius: 0.8rem;
    box-shadow: 0 2px #999;
   
}


  .boton-agregar-evento:hover{
    color: #fff;
    background-color: #3079a3;
    text-decoration: none;
  }


  .boton-modificar-evento {
  
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #dbdf10;
    //margin-right: auto;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    border-radius: 0.8rem;
    box-shadow: 0 2px #999;
   
}


  .boton-modificar-evento:hover{
    color: #fff;
    background-color: #bbb826;
    text-decoration: none;
  }

  .boton-eliminar-evento{
    color:#fff;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ff0000cb;
    font-size: 0.9rem;
    border-radius: 0.8rem;
    box-shadow: 0 2px #999;
    //margin-left: 20px;
    height: 36px;
    width: 100px;
  }
  .boton-eliminar-evento:hover{
    color:#fff;
    background-color: #e03030ea;
  }
  
  .boton-cancelar-evento{
    color:#000;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #666;
    font-size: 0.9rem;
    border-radius: 0.8rem;
    box-shadow: 0 2px #999;
    //margin-left: 20px;
    height: 36px;
    width: 100px;
  }
  .boton-cancelar-evento:hover{
    color:#000;
    background-color: #a4a4a4;
  }


  //titulo en calendario

  .fc-v-event .fc-event-main {
    color: #000!important;
    color: var(--fc-event-text-color, #000!important);
    height: 100%;
  }

  .fc .fc-daygrid-day-events {
    margin-top: 1px;
    color: #000!important;
    //background-color: black;
}
.fc-v-event .fc-event-main-frame {
    height: 100%;
    display: flex;
    color: #000!important;
    flex-direction: column;
}



//errores de validacion

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #e3342f;
}

.invalid-tooltip {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 5;
    display: none;
    max-width: 100%;
    padding: 0.25rem 0.5rem;
    margin-top: 0.1rem;
    font-size: 0.7875rem;
    line-height: 1.6;
    color: #fff;
    background-color: rgba(227, 52, 47, 0.9);
    border-radius: 0.125rem;
}
  
.was-validated :invalid ~ .invalid-feedback,
.was-validated :invalid ~ .invalid-tooltip,
.is-invalid ~ .invalid-feedback,
.is-invalid ~ .invalid-tooltip {
    display: block;
}

.was-validated .form-check-input:invalid ~ .invalid-feedback,
.was-validated .form-check-input:invalid ~ .invalid-tooltip,
.form-check-input.is-invalid ~ .invalid-feedback,
.form-check-input.is-invalid ~ .invalid-tooltip {
  display: block;
}


//multiselect
.multiselect_box{
    color:#000;
}
.multiselect_box button{
    color:#000;
}
.multiselect_box:hover{
    color:#000;
}

.bootstrap-select .dropdown-toggle .filter-option {
    color:#495057!important

}

.filter-option{
    color:#495057!important
}

.bootstrap-select.show-tick .dropdown-menu li a span.text {
    margin-right: 34px;
    color:#495057!important
}



//calendario with salas 


@media (min-width: 1200px){

    .container-xl, .container-lg, .container-md, .container-sm, .container-calendario {
        max-width: 1190px;
    }
}


@media (min-width: 992px){
    .container-lg, .container-md, .container-sm, .container-calendario {
        max-width: 980px;
    }

}

@media (min-width: 768px){
    .container-md, .container-sm, .container-calendario {
        max-width: 760px;
    }
}

@media (min-width: 576px){
    .container-sm, .container-calendario {
        max-width: 570px;
    }
}

.container-calendario, .container-fluid, .container-xl, .container-lg, .container-md, .container-sm {
    width: 100%;
    padding-right: 2px;
    padding-left: 2px;
    margin-right: auto;
    margin-left: auto;
}

.main-content #inner-content.container .container .card-calendario {
    top: 3rem;
}

.card-calendario {
    border: 0;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.card-calendario {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box; 
    border: 1px solid rgba(0, 0, 0, 0.12); 
    border-radius: 0.125rem;
    float: right;
    display:inline;
    width: 85%!important;
}

.card-calendario {
    font-size: 0.875rem;
    font-weight: normal;
}

#menu-calendario{
    position: relative!important;
    display: flex!important;
    flex-direction: column!important;
    min-width: 0!important;
    word-wrap: break-word!important;
    border-color: #000;
    background-clip: border-box!important;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0.125rem;
    top: 45px;
    float:left;
    display:inline;
}


.panel-salas{
    //text-align: center;
    width: 12%;
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.row-calendar {
    display: flex;
    width: 100%;
    margin-top:55px;
    margin-left:10px;
    margin-right:10px;
    
  }

  ul {
    list-style: none!important;
    
}
.salas-nombre {
    
    margin-left:-40px;
}

.sala-nombresala{
    width:40px;
    height:20px;
}







  
  
  
    
  
  
  